<div class="mt-20">
  <div class="flex flex-col gap-3 justify-center items-center ">
    <h2 class="font-bold text-4xl">Icons Attribution</h2>
    <div class="w-[540px] text-center ">
      <p class="mb-8">I would like to thank following authors for their contribution to <a href='https://www.flaticon.com/' class="text-green-500 font-bold text-xl hover:text-green-300 transition-all">flaticon</a> community and icons database: </p>
      <ul class="grid grid-cols-2">
        <li class="flaticon-author">pixel perfect</li>
        <li class="flaticon-author">freepik</li>
        <li class="flaticon-author">xnimrodx</li>
        <li class="flaticon-author">Deeksha Pahariya</li>
        <li class="flaticon-author">riajulislam</li>
        <li class="flaticon-author">Hight Quality Icons</li>
        <li class="flaticon-author">Nsu Rabo Elijah</li>
        <li class="flaticon-author">POD Gladiator</li>
      </ul>
    </div>
  </div>
</div>