<div class="mt-2" data-controller="comment">
  <% reference.comments.each_with_index do |comment, i| %>
    <% if i < 3 %>
      <%= render 'shared/comment', comment: comment, visibility: "" %>
    <% else %>
      <% if i == 3 %>
        <p data-comment-target="more" data-action="click->comment#expand" class="text-gray-400 italic text-sm font-bold mt-1 hover:cursor-pointer hover:text-gray-600" >
          See <%= reference.comments.count - i %> more...
        </p>
        <%= render 'shared/comment', comment: comment, visibility: "scale-0 absolute" %>
      <% elsif i > 3 %>
        <%= render 'shared/comment', comment: comment, visibility: "scale-0 absolute" %>
      <% end %>
    <% end %>
  <% end %>
</div>
