<div class="flex justify-between h-14 items-center bg-white shadow-md px-4">
  <div class="font-bold text-blue-500 text-3xl w-36">tvářbook</div>
  <div class="flex w-[590px] items-center justify-center bg-gray-200 hover:bg-gray-300 rounded-full px-3">
    <%= image_tag('magnifying-glass', class: "w-auto h-4")%>
    <input type="search" name="search" id="search" class="input-field" placeholder="Search Tvařbook">
  </div>
  <div class="flex items-center justify-between w-36">
    <%= link_to image_tag('messenger', class: "button-navbar") %>
    <%= link_to image_tag('bell', class: "button-navbar") %>
    <%= link_to image_tag('my_avatar', class: "avatar-round") %>
  </div>
</div>
